mixin category(category)
    h2.title!= category.name
        span.num (#{category.length})
    if category.length
        ul.category
            - category.posts.each(function(post) {
                //- - console.log(post.title)
                - var createDate = date(post.date, "YYYY-MM-DD")
                - var updatedDate = date(post.updated, "YYYY/MM/DD")
                li
                    span.date
                        i.fa.fa-calendar!= createDate
                    if date(post.date, "YYYYMMDD") !== date(post.updated, "YYYYMMDD")
                        span.updated
                            i.fa.fa-refresh!= updatedDate
                    a(href=url_for(post.path))
                        != post.title
            - })

//- - console.log(is_category())
.post-category
    if site.categories.length
        - site.categories.each(function(category) {
            if is_category()
                if category.name === page.category
                    +category(category)                
            else
                +category(category)
                hr
        - })