mixin home()
    .pagination
        ul
            if page.prev
                li.link
                    a(href=url_for(page.prev_link))
                        //- i.fa.fa-chevron-left
                        i.fa.fa-angle-double-left
            li.current
                a #{page.current}
            if page.next
                li.link
                    a(href=url_for(page.next_link))
                        //- i.fa.fa-chevron-right
                        i.fa.fa-angle-double-right
            span.total
                | 共
                != page.total
                | 页

mixin post()
    - var prev = page.prev ? page.prev.path : false
    - var next = page.next ? page.next.path : false
    .pagination
        if prev
            a.prev-post(href=url_for(prev), title!= page.prev.title)
                i.fa.fa-chevron-circle-left
                != page.prev.title
        if next
            a.next-post(href=url_for(next), title!= page.next.title)
                != page.next.title
                i.fa.fa-chevron-circle-right